// variables
$optionsBG: lightgrey;

$gameHeightLg: 900px;
$gameHeightMd: 750px;
$gameHeightSm: 550px; 

$lg: 1280px;
$md: 900px;
$sm: 600px;

// styles for body
h1 {
    text-align: center;
}
// styles for game_container
.game_container {
    height: 80vh;
    width: 80vw;
    border: 1px solid;
    overflow:hidden;
    img{
        height: 100%;
        width: auto;
    }
}
// styles for main pokemon

// styles for options


@media only screen and (min-width: $lg) {

}

@media only screen and (min-width: $md) {
    
}

@media only screen and (min-width: $sm) {
    
}